<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <%- include('partials/header') %>
        <main>
            <h1>Temperature Calculator 2022</h1>
            <form method="post" action="/temperature" autocomplete="off">
                <input id="query" type="text" name="query" placeholder="Entrez la ville" required>
                <div>
                    <ol id="suggestions" class="gradient-list">
                    </ol>
                </div>
                <input type="submit" value="Rechercher">
            </form>
        </main>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/js/autocomplete.js"></script>
</body>

</html>