<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Température</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <%- include('partials/header') %>
        <main>
            <h1>Température</h1>
            <% if (temp) { %>
                <p>
                    <%= ville %> a une température de <%= temp %> °C.
                </p>
                <% } else { %>
                    <p>Pas de température trouvée !</p>
                    <% } %>
        </main>
</body>

</html>